<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- Font Google -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <!-- Style CSS -->
    <link rel="stylesheet" href="/css/proker.css" />
    <link rel="stylesheet" href="/css/global.css" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />

    <!-- Logo Title -->

    <link rel="icon" href="/image/hmj/logo_hmj.png" type="image/x-icon" />

    <title>Program Kerja - HMJTI</title>
  </head>
  <body>
    <%- include('partials/navbar') %>

    <!-- Hero Section -->
    <section id="hero">
      <div class="container">
        <div class="align-items-center">
          <div class="text-center" >
            <h1 class="span-custom-2 fw-bold">Program Kerja HMJTI</h1>
            <p>
              Jelajahi rangkaian program kerja strategis dan inovatif yang kami
              rancang untuk mengembangkan talenta mahasiswa, membangun
              kolaborasi lintas divisi, dan menciptakan dampak positif bagi
              komunitas Teknologi Informasi Politeknik Negeri Jember.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Program Kerja -->
    <section class="container px-lg-5">
      <div class="row g-4">
        <% if (kegiatan.length === 0) { %>
        <div class="col-12" text-center>
          <div class="">Belum ada program kerja</div>
        </div>
        <% } %> <% kegiatan.forEach(item => { %>
        <div class="col-lg-4 col-md-4 col-sm-6 d-flex justify-content-center">
          <a
            href="/proker/program-kerja/<%= item.id %>"
            class="text-decoration-none w-100"
          >
            <div
              class="card g-2 align-items-center h-100  position-relative"
            >
              <!-- Gambar -->
              <img
                src="<%= item.thumbnail || '/image/no-image.jpg' %>"
                class="card-img-top"
                alt="<%= item.judul %>"
                style="height: 200px; object-fit: cover"
              />

              <div class="card-body d-flex flex-column">
                <!-- Judul -->
                <h5 class="card-title"><%= item.judul %></h5>

                <!-- Deskripsi -->
                <p class="card-text" style="font-size: 14px">
                  <%= item.deskripsi.length > 100 ? item.deskripsi.substring(0,
                  100) + '...' : item.deskripsi %>
                </p>
              </div>
            </div>
          </a>
        </div>
        <% }) %>
      </div>
    </section>

   <nav aria-label="Page navigation">
  <ul class="pagination justify-content-center mb-5 pt-5">
    <!-- TOMBOL PREVIOUS -->
    <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
      <a class="page-link" href="/proker?page=<%= currentPage - 1 %>#daftar-proker">&laquo; Prev</a>
    </li>

    <!-- NOMOR HALAMAN -->
    <% for (let i = 1; i <= totalPages; i++) { %>
    <li class="page-item <%= i === currentPage ? 'active' : '' %>">
      <a class="page-link" href="/proker?page=<%= i %>#daftar-proker"><%= i %></a>
    </li>
    <% } %>

    <!-- TOMBOL NEXT -->
    <li class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>">
      <a class="page-link" href="/proker?page=<%= currentPage + 1 %>#daftar-proker">Next &raquo;</a>
    </li>
  </ul>
</nav>


    <!-- footer -->
    <%- include('partials/footer') %>

    <!-- Script Postingan -->

     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init({
        once: true,
      });
    </script>
    <script src="/js/script.js"></script>
    <script src="/js/backToTop.js"></script>
    <script src="/js/scrollImage.js"></script>
    <script src="/js/animation_slide.js"></script>
  </body>
</html>
